<h1>Editing <%= @house.name %></h1>

<%= render 'form' %>

<h2>HouseMates</h2>
<% @housemates.each do |housemate| %>
<p><%= housemate.user.first_name %> <%= housemate.user.last_name %> (<%= housemate.user.email %>) <%= link_to "remove", house_house_mate_path(@house,housemate), :method => :delete %></p>
<% end %>

<h3>Add a housemate:</h3>
<%= render 'housemates_form' %>

<%= link_to 'Show', @house %> |
<%= link_to 'Back', houses_path %>
