<h1>Your houses</h1>
<% current_user.houses.each do |house| %>
    <h2><%= house.name %></h2>
    <%= image_tag house.map '100','100' %>
    <p><%= house.address %></p>
    <p><%= link_to 'Show', house %> | 
    <%= link_to 'Edit', edit_house_path(house) %> | 
    <%= link_to 'Remove', house, confirm: 'Are you sure?', method: :delete %></p>
<% end %>

<br />
<% if current_user.has_role? :admin %>
<h1>All houses</h1>
<% @houses.each do |house| %>
    <h2><%= house.name %></h2>
    <%= image_tag house.map '100','100' %>
    <p><%= house.address %></p>
    <p><%= link_to 'Show', house %> | 
    <%= link_to 'Edit', edit_house_path(house) %> | 
    <%= link_to 'Remove', house, confirm: 'Are you sure?', method: :delete %></p>
<% end %>
<% end %>

<%= link_to 'New House', new_house_path %>
