<h1><%= @house.name %></h1>

<p>
  <%= @house.address %>
</p>

<!--<%= image_tag @house.image '400','400' %>-->

<p>Current Balance: <%= number_to_currency @house.balance %></p>
<h3>Upcoming Bills</h3>
<% if @bills.count > 0 %>
  <table>
  <tr><th>Due Date</th><th>Bill</th><th>Amount</th></tr>
  <% @bills.each do |bill| %>
  <tr>
    <td><%= bill.due %></td>
    <td><%= bill.name %></td>
    <td><%= number_to_currency bill.amount %></td>
    <td><%= link_to "Paid?", pay_bill_path(bill), :remote => true, :class => 'pay_bill' %></td>
  </tr>
  <% end %>
  </table>
<% else %>
  <p>No upcoming bills!</p>
<% end %>
<%= link_to "New Bill", new_house_bill_path(@house), :remote => true, :rel => 'facebox' %> |
<%= link_to "All Bills", house_bills_path(@house) %>

<h3>HouseMates</h3>
<% @housemates.each do |housemate| %>
<p><%= image_tag housemate.user.get_image %>
<%= link_to housemate.name, house_mate_path(housemate) %></p>
<p>Balance: <%= number_to_currency housemate.balance %> (<%= link_to "Make deposit", new_house_mate_deposit_path(housemate), :remote => true, :rel => 'facebox' %>)</p>
<% end %>

<br />


<%= link_to 'Edit \'' + @house.name + '\'', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
