<%- model_class = House -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @house.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @house.address %></dd>
  <% unless @house.description.empty? %>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @house.description %></dd>
  <% end %>
</dl>

<%= chart_tag(house_housemates_balances_data_path(@house, :format => :json), 300) if @house.housemates.any? %>

<dl class="dl-horizontal">
  <% @house.housemates.each do |housemate| %>
  <dt><strong><%= link_to housemate.name, house_housemate_path(@house,housemate) %>:</strong></dt>
  <dd><%= number_to_currency housemate.balance %></dd>
  <dd><%= render :partial => 'deposit_form', :locals => { :housemate => housemate } %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              houses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_house_path(@house), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              house_path(@house),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
