<h1><%= @house.name %>'s Bills</h1>

<table>
<tr><th>Due Date</th><th>Name</th><th>Amount</th><th>Paid?</th><th>Actions</th></tr>
<% @bills.each do |bill| %>
<tr>
  <td><%= I18n.localize bill.due %></td>
  <td><%= bill.name %></td>
  <td><%= number_to_currency bill.amount %></td>
  <td><%= bill.paid ? "Yes" : "No" %></td>
  <td><%= link_to "Change", edit_house_bill_path(@house,bill) %> | <%= link_to "Delete", house_bill_path(@house,bill), method: :delete %></td>
</tr>
<tr>
  <td></td><td colspan="4"><p class="bill_description"><%= bill.description %></p></td>
</tr>
<tr>
  <td></td><td colspan="4">
  <% bill.bill_parts.each do |bill_part| %>
    <div style="float: left">
    <%= image_tag bill_part.house_mate.user.get_image %><br />
    <%= number_to_currency bill_part.amount %>
    </div>
  <% end %>
  </td>
</tr>
<% end %>
</table>
<%= link_to "New Bill", new_house_bill_path(@house), :remote => true, :rel => 'facebox' %>  |
<%= link_to "Back to " + @house.name, @house %>
