<!DOCTYPE html>
<html>
<head>
  <title>HouseMates</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%= gflash %>
<%= render 'layouts/navigation' %>
<!--<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <%= content_tag :div, msg, :id => "#{name}" if msg.is_a?(String) %>
  </div>
<% end %>-->
<%= yield %>

</body>
</html>
